/* Configurações globais do arquivo css */ 
*{
   font-family: sans-serif;
   width: 100%;
   margin: 0 auto;
   box-sizing: border-box;
}

body {
   background-color: #18181b;
   width: 100%;
   height: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.logo {
   max-width: 650px;
   margin-bottom: 24px;
}

.container-input{
   max-width: 480px;
   margin: 14px 0;
}

.container-input span{
   color: white;
   font-size: 22px;
}

/* Barrinha */
.slider {
   -webkit-appearance: none;
   width: 100%;
   border-radius: 5px;
   background: #dfdfdf;
   outline: none;
   margin-top: 8px;
}

/* Botao de gerar senha */
.button-cta {
   height: 40px;
   background-color: #3eb72b;
   border: 0;
   border-radius: 4px;
   cursor: pointer;
   margin-top: 40px;
   color: #fff;
   font-weight: bold;
   font-size: 18px;
}

/* Contem a senha a possibilidade de copiar */
.container-password {
   max-width: 480px;
   margin: 14px 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
}

.title {
   
}






